<!DOCTYPE html>

<html>
  <div class = "default">
    <div class="banner"></div>

    

    <header style="font-size: xx-large; font-weight: bolder;">hello. i'm vivian.
      <div class="image-cropper" style="float: inline-start; margin: 0.25cm;">
        <img src="/assets/photos/headshot.jpg/" class="rounded">
      </div>
    </header> 

    <header style="font-size: xx-large; font-weight: bolder;">it's so nice to see you here!</header>
    <br>
      <div style="font-size: x-large;">welcome to my personal website!</div>
      <div style="font-size: large;">
      i was inspired by my internship in summer 2024 as i learned about web/app dev for the 
      first time, and it made me want to make this to practice (and perhaps show) some skills! hopefully
      this showcases my excitement and effort, even as a non cs major (but in the tech space regardless).
      enjoy your visit, and let me know how it is!
      </div>
      
    </div>
</html>

